In [1]:
import pandas as pd
import xarray as xr

In [2]:
data = {
    'pressure': [0, 100, 200, 0, 50, 100, 0, 100, 200, 300],
    'latitude': [10, 10, 10, 20, 20, 20, 30, 30, 30, 30],
    'longitude': [50, 50, 50, 60, 60, 60, 70, 70, 70, 70],
    'temperature': [25, 24, 23, 26, 25.5, 25, 27, 26, 25, 24]
}

In [3]:
df = pd.DataFrame(data)

# Add a profile_id for each unique profile
df['profile_id'] = (df['pressure'] == 0).cumsum()

In [4]:
df

   pressure  latitude  longitude  temperature  profile_id
0         0        10         50         25.0           1
1       100        10         50         24.0           1
2       200        10         50         23.0           1
3         0        20         60         26.0           2
4        50        20         60         25.5           2
5       100        20         60         25.0           2
6         0        30         70         27.0           3
7       100        30         70         26.0           3
8       200        30         70         25.0           3
9       300        30         70         24.0           3

In [5]:
(df['pressure'] == 0).cumsum()

0    1
1    1
2    1
3    2
4    2
5    2
6    3
7    3
8    3
9    3
Name: pressure, dtype: int64

In [ ]:
df['pressure_diff'] = df['pressure'].diff()

# Add a profile_id for each unique profile based on where the pressure drops
df['profile_id'] = (df['pressure_diff'] < 0).shift(fill_value=False).cumsum()

# Drop the temporary pressure_diff column
df.drop(columns=['pressure_diff'], inplace=True)

print(df)